<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>수목센서 관리 사이트</title>

    <!-- Custom fonts for this template-->
    <link href="/stylesheets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script rel="text/javascript">
        
    </script>
</head>

<body>
    <table border="1" align="center" width="100%" id = "4D">
        <tr align="center">
            <th>Serial No.</th>
            <th>Record No.</th>
            <th>Device Type</th>
            <th>Timestamp</th>
            <th>Before Heating Temp.</th>
            <th>After Heating Temp.</th>    
            <th>Growth Rate</th>
            <th>Battery Voltage</th>
            <th>Data Ressolution</th>
            <th>Air Humidity</th>
            <th>Air Temperature</th>
            <th>Z axis</th>
            <th>Y axis</th>
            <th>X axis</th>
        </tr>
        <tr align="center"> 
            <td id="data-SerialNumber"></td>
            <td id="data-RecordNumber">0</td>
            <td id="data-DeviceType">0</td>
            <td id="data-Timestamp">0</td>
            <td id="data-BHTemperature">0</td>
            <td id="data-AHTemperature">0</td>
            <td id="data-GrowthRate">0</td>
            <td id="data-BattVolt">0</td>
            <td id="data-DataRessolution">0</td>
            <td id="data-AirHumidity">0</td>
            <td id="data-AirTemperature">0</td>
            <td id="data-Zaxis">0</td>
            <td id="data-Yaxis">0</td>
            <td id="data-Xaxis">0</td>
        </tr>
    </table>
    <table border="1" align="center" width = "100%" id = "49">
        <tr align="center">
            <tr align="center">
                <td colspan = "4">Common</td>
                <td colspan = "6">Near Infrared</td>
                <td colspan = "6">Visible Light Spectrum</td>
            </tr>
            <tr align="center">
                <th>Serial No.</th>
                <th>Record No.</th>
                <th>Device Type</th>
                <th>Timestamp</th>
                <th>650nm</th>
                <th>680nm</th>    
                <th>730nm</th>
                <th>760nm</th>
                <th>810nm</th>
                <th>860nm</th>
                <th>450nm</th>
                <th>500nm</th>
                <th>550nm</th>
                <th>570nm</th>
                <th>600nm</th>
                <th>650nm</th>
            </tr>
            <tr align="center">
                <td id="data-SerialNumber"></td>
                <td id="data-RecordNumber">0</td>
                <td id="data-DeviceType">0</td>
                <td id="data-Timestamp">0</td>
                <td id="data-NI650">0</td>
                <td id="data-NI680">0</td>
                <td id="data-NI730">0</td>
                <td id="data-NI760">0</td>
                <td id="data-NI810">0</td>
                <td id="data-NI860">0</td>
                <td id="data-VLS450">0</td>
                <td id="data-VLS500">0</td>
                <td id="data-VLS550">0</td>
                <td id="data-VLS570">0</td>
                <td id="data-VLS600">0</td>
                <td id="data-VLS650">0</td>
            </tr>
        </tr>
    </table>
    <table border="1" align="center" width = "100%" id = "4B">
        <tr align="center">
            <tr align="center">
                <th>Serial No.</th>
                <th>Record No.</th>
                <th>Device Type</th>
                <th>Timestamp</th>
                <th>Battery Level</th>
                <th>Firmware Version</th>    
            </tr>
            <tr align="center">
                <td id="data-SerialNumber"></td>
                <td id="data-RecordNumber">0</td>
                <td id="data-DeviceType">0</td>
                <td id="data-Timestamp">0</td>
                <td id="data-BattLevel">0</td>
                <td id="data-FirmLevel">0</td>
            </tr>
        </tr>
    </table>
    <table border="1" align="center" width = "100%" id = "4C">
        <tr align="center">
            <tr align="center">
                <th>Serial No.</th>
                <th>Record No.</th>
                <th>Device Type</th>
                <th>Timestamp</th>
                <th>RSSI First</th>
                <th>RSSI Second</th>    
            </tr>
            <tr align="center">
                <td id="data-SerialNumber"></td>
                <td id="data-RecordNumber">0</td>
                <td id="data-DeviceType">0</td>
                <td id="data-Timestamp">0</td>
                <td id="data-RSSIFirst">0</td>
                <td id="data-RSSISecond">0</td>
            </tr>
            
        </tr>
        <script>
            
        </script>
    </table>

</body>